{% extends 'layout.html' %}
{% block content %}
    <h1 >@{{ current_user.username }}</h1>
    {% for post in posts %}
        <article class="media content-section">

            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">@{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    <p class="article-content">{{ post.post }}
                        <a href="{{ url_for('comments', post_id=post.id) }}">View Comments</a>
                </div>
            </div>

        </article>
    {% endfor %}
{% endblock content %}